.hero {
    position: relative;
    text-align: center;
    color: #fff;
    padding: 100px 20px;
    height: 65vh;
    background-color: #5c0000;
  }
  
  .hero-text {
    max-width: 600px;
    margin: auto;
  }
  
  .hero-text h1 {
    font-size: 2.5rem;
  }
  
  .hero-text p {
    font-size: 1.2rem;
    margin-top: 10px;
  }